html{
  background-color: #f2f2f2;
  /* background-color: lightblue; */
}

html, body {
  margin: 0;          /* Remove default margin */
  padding: 0;         /* Remove default padding */
  height: 100%;       /* Make html and body 100% height */
  width: 100%;        /* Make them 100% width */
  overflow: hidden;   /* Optional: hide scrollbars if you don't want scrolling */
}

body{
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: crosshair;
  z-index: 100;
  min-height: 100vh;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

button {
  height: 800px;
  width: 800px;
  font-size: 20px;
  cursor: url('icons/clesti_de_unghi2.png') 16 16, crosshair;
  /* background-color: #4CAF50; */
  color: white;
  border: none;
  background-color: transparent;
  background-image: url('iggy/squiglyantena.png');
  background-size: cover;
  z-index: 0;
  position: absolute;
  filter: saturate(70%) blur(1px);
  border-radius: 10px;
  clip-path: polygon(46% 8%, 40% 16%, 47% 22%, 48% 30%, 57% 36%, 44% 37%, 38% 41%, 39% 49%, 44% 56%, 46% 69%, 52% 68%, 50% 52%, 44% 44%, 54% 42%, 62% 40%, 64% 34%, 54% 27%, 54% 23%, 58% 16%, 54% 9%); 
}
p{
  z-index: 100;
}
button:hover {
  filter: saturate(100%);
}

.antena{
  cursor: url('icons/clesti_de_unghi2.png') 16 16, crosshair;

}

.Iggy{
  height: 2000px;
  width: 2000px;
  top: 50%;
  left: 50%;
  /* left: 50%; */
  z-index: 200;
  transform: translate(calc(-50% + 0px), calc(-50% + 200px));
  position: absolute;
  background-image: url('iggy/iggycap.png');
  background-size: cover;
  background-color: transparent;
  clip-path: polygon(47% 36%, 36% 39%, 29% 47%, 28% 56%, 35% 65%, 59% 66%, 70% 60%, 72% 46%, 58% 36%);
}